:local(.customText) {
  color: white;
}

.MuiInput-underline:before {
  content: none !important;
}

/* body {
    background-color: rgb(29, 31, 32);
    color: rgb(203, 199, 191);
} */

/* The card image preview*/
.previewImg {
  object-fit: cover;
  object-position: top;
  width: 75px;
  height: 44px;
  cursor: pointer;
}

.previewImgDialog {
  object-fit: scale-down;
}

.uniqueIcon {
  font-size: 0.4rem !important;
  color: black;
}

.addCardIcon {
  font-size: 1rem !important;
  color: #4caf50;
}

.costTableCell {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.elite {
  background-color: #dd1114;
}

.nonElite {
  background-color: #5d5f61;
}

.costIcon {
  height: 33px;
  width: 33px;
  padding: 0px;
  line-height: 33px;
  color: white;
  border-radius: 3px;
}

.fa-rebel {
  color: #d92027;
}

.fa-mandalorian {
  color: #1d5e33;
}

.searchContainer {
  padding: 0 !important;
}

.makeStyles-root-367 {
  width: inherit !important;
}

.searchAdvDiv {
  width: 50%;
  float: right;
  background-color: whitesmoke;
}
.makeStyles-advRoot-368 {
  width: inherit !important;
  margin-top: 0px !important;
  position: absolute;
  padding: 0 !important;
}

.searchAdvList {
  padding: 0 !important;
  width: inherit !important;
  position: absolute !important;
  background-color: whitesmoke;
  z-index: 1;
}

.sortRadioList {
  padding-left: 5px !important;
}

/*  */
.MuiTypography-body1 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300 !important;
  line-height: 1.5em !important;
  color: black !important;
  font-size: 0.875rem !important;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: #00acc1 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #00acc1 !important;
}

.deploymentCardListImg {
  max-width: 30%;
  object-fit: scale-down;
  padding: 1%;
  cursor: pointer;
}

.commandCardListImg {
  max-width: 22%;
  object-fit: scale-down;
  padding: 1%;
  cursor: pointer;
}

.makeStyles-root-421 {
  /* padding: 24px 16px; */
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.CardBody-cardBody-364 {
  padding: 0 !important;
}

.makeStyles-root-421 {
  padding: 0 !important;
}

.MuiToolbar-regular {
  min-height: 48px !important;
}

.listInfo {
  position: relative;
  font-size: 0.875rem;
  max-width: 264px;
  min-width: 72px;
  box-sizing: border-box;
  min-height: 48px;
  text-align: center;
  flex-shrink: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 50px;
  white-space: normal;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.MuiTab-root {
  font-size: 0.8125rem;
  color: white;
  min-width: 80px;
}

.MuiBox-root-475 {
  padding: 0 !important;
  text-align: center;
}

.MuiBox-root-476 {
  padding: 0 !important;
  text-align: center;
}

.MuiAppBar-colorPrimary {
  border-radius: 4px !important;
  color: #fff !important;
  background-color: #1d1f20 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #fff !important;
}

.MuiTab-textColorPrimary {
  color: #fff !important;
}

.MuiToolbar-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.PrivateTabIndicator-colorPrimary-442 {
  background-color: #00acc1 !important;
  width: 136px !important;
}

.cardCostInfo {
  top: -7px;
  position: relative;
  padding-left: 5px;
}
.MuiIcon-root {
  width: auto !important;
}

.MuiTab-root {
  min-width: 136px !important;
}

.MuiList-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
